#options-container > div.green-border {
  border: 3px solid #35bd3a;
}
#options-container > div.red-border {
  border: 3px solid #ff7a7a;
}
#options-container > div.red-border > div {
  display: flex;
  gap: 12px;
  font-weight: 400;
  font-size: 20px;
}
.unclickable {
  pointer-events: none;
  /* cursor: not-allowed; */
}

body#yellow-state {
  background-color: #e4e5c7;
}
body#yellow-state #question-container > div {
  background-color: #c5b100;
  border: 2px solid #c5b1006e;
}
body#yellow-state #next-question-button {
  color: #c58800;
}
body#red-state {
  background-color: #dbadad;
}
body#red-state #question-container > div {
  background-color: #c50c00;
  border: 2px solid #c50c006e;
}
body#red-state #next-question-button {
  color: #c50000;
}
#options-container:has(.no-border-on-option) div {
  border: none !important;
}

#next-button-and-show-result-button {
  display: flex;
  flex-direction: row-reverse;
}
#show-result-button {
  display: none;
}
#show-result-button.show {
  display: block;
}
body#show-result-section {
  background-color: #f6f4f0;
}
#result-section {
  display: none;
}

#result-section.hide {
  display: none;
}
#volume-off-icon {
  display: none;
}
#volume-off-icon.show {
  display: block;
}
#volume-off-icon.hide {
  display: none;
}

#volume-on-icon.hide {
  display: none;
}
#volume-on-icon.show {
  display: block;
}
.show {
  display: block !important;
}
.hide {
  display: none;
}



@media (width<=810px) {
  #quiz-start-now-button {
    font-size: 32px;
    border-bottom-width: 8px;
    border-right-width: 8px;
    /* padding: 6px 12px; */
  }
}
@media (width<=600px) {
  #quiz-start-now-button {
    font-size: 24px;
    border-bottom-width: 6px;
    border-right-width: 6px;
    
  
  }
}

@media (width<=400px) {
  #quiz-start-now-button {
    font-size: 12px;
    border-bottom-width: 4px;
    border-right-width: 4px;
    padding: 8px 16px;
  }
}

/* The switch container */
.toggle-container {
  display: flex;

  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  gap: 8px;

  flex-direction: row-reverse;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* The slider handle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the checkbox is checked, move the slider */
input:checked + .slider {
  background-color: #2196f3;
}

/* Move the slider handle to the right when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}
